.main-font {
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
}

.blue-text {
    color: #0044ff;
}


h4, h5, h6 {
    background-color: #f0f0f0;
    border-left: 5px solid #333;
    padding: 5px;
}


.content-box h2 {
    text-decoration: underline;
}

.content-box h3 {
    font-style: italic;
    color: #555;
}